curl -sL https://deb.nodesource.com/setup_12.x | sudo -E bash -
sudo apt-get install nodejs -y
apt install npm
npm i ws; npm i https-proxy-agent; npm i http-proxy-agent; npm i events; npm i request; npm i os; npm i fs; npm i cluster; npm i cloudscraper; npm i url; npm i path; npm i net; npm i chalk; npm i colors; npm i glob; npm i buffer-replace; npm i string; npm install axios; npm install request; npm install cloudflare-bypasser; npm install fake-useragent; npm install cloudflare-bypasser; npm i cloudscraper random-useragent

                          